.lead__title {
    max-width: 720px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    display: block;
}


@media screen and (max-width: 700px) {
    .lead__title {
        font-size: 60px;
        line-height: 66px;
    }
}

@media screen and (max-width: 450px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 49px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        line-height: 44px;
    }
}