.intro {
    max-width: 984px;
    margin: 0 auto 94px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .intro {
      max-width: 690px;
      margin-bottom: 92px;
      margin-left: 4.69%;
    }
}


@media screen and (max-width: 768px) {
    .intro {
      max-width: 720px;
      margin-bottom: 88px;
    }
}


@media screen and (max-width: 360px) {
    .intro {
       max-width: 288px;
       margin-bottom: 64px;
    }
}